{% {% extends 'templates/base.html'%} %}
{% load static %}
{%block banner_slider%}
<div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="{%static'app/images/banners/b1.png' %}" class="d-block w-100" alt="get a bike">
        <div class="carousel-caption d-none d-md-block">
          <h5>get a bike</h5>
          <p>Stay healthy stay active</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="{%static'app/images/banners/b2.png' %}" class="d-block w-100" alt="Let's move!">
        <div class="carousel-caption d-none d-md-block">
          <h5>Let's move!</h5>
          <p>Move fast!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{%static'app/images/banners/b3.png' %}" class="d-block w-100" alt="Just do it!">
        <div class="carousel-caption d-none d-md-block">
          <h5>Just do it!</h5>
          <p>Do it like you have never done it before</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{%endblock banner_slider%}


{%block main-content%}|
 <h1> BE HAPPY ALWAYS</h1>
{%endblock main-content%}   

